package {{.PackageName}}.resources;

public class {{.Resource.Name}} {
    public static String read() {
        // TODO: implement resource logic for {{.Resource.Name}}
        return "Resource {{.Resource.Name}} read";
    }
}
