{
  "name": "{{ .Config.Name }}",
  "language": "{{ .Config.Language }}",
  "transport": {
    "type": "{{ .Config.Transport }}",
    "options": { "command": "node src/index.js" }
  },
  "docker": {{ .Config.Docker }},
  "examples": {{ .Config.Examples }}
}
