{
  "name": "{{ .Config.Name }}",
  "version": "1.0.0",
  "type": "module",
  "main": "src/index.js",
  "description": "{{ .Config.Description }}",
  "author": "{{ .Config.Author }}",
  "license": "MIT",
  "scripts": {
    "start": "node src/index.js",
    "test": "echo \"No test specified\" && exit 1",
    "build": "echo \"No build step defined\" && exit 1"
  }
}
