package {{.PackageName}}.tools;

public class {{.Tool.Name}} {
    public static String run() {
        // TODO: implement tool logic for {{.Tool.Name}}
        return "Tool {{.Tool.Name}} executed";
    }
}
