package {{.PackageName}}.capabilities;

public class {{.Capability.Name}} {
    public static String enable() {
        // TODO: implement capability logic for {{.Capability.Name}}
        return "Capability {{.Capability.Name}} enabled";
    }
}
